.content {
  background-color: var(--bg-light-gray-color);
  width: 100%;
  padding: 80px 0 322px 0;
  gap: 80px;
}
/** hero section styles */

.hero {
  padding: 0 0 32px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7.5px;
}
.hero .title {
  font-family: var(--anybody-font);
  font-weight: 800;
  font-size: 64px;
  line-height: 72px;
  color: var(--btn-dark-blue-color);
}
.hero .subtext {
  width: 50%;
  font-family: var(--plus-jakarta-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--text-gray-color);
  align-self: center;
}

/** Pricing Cards Section */
.pricing-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.card {
  width: 30%;
  border-radius: 12px;
  padding: 48px;
  background-color: var(--bg-white-color);
  border: 2px solid #00000000;
  box-shadow: 0px 16px 32px -8px #2196f31f;
}
.card .level {
  font-family: var(--plus-jakarta-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: var(--btn-dark-blue-color);
}
.card .pass-name {
  font-family: var(--anybody-font);
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--text-dark-color);
}
.card .pricing {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
}
.card .price {
  font-family: var(--anybody-font);
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--text-dark-color);
}
.card .duration {
  position: absolute;
  top: 30.5px;
  left: 90%;
  font-family: var(--plus-jakarta-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--text-gray-color);
}
.features {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  padding-bottom: 112px;
}
.feature-enabled,
.feature-disabled {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.feature-name {
  font-family: var(--plus-jakarta-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--text-dark-color);
}
.feature-disabled-name {
  font-family: var(--plus-jakarta-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--icon-gray-color);
}
.get-started {
  width: 80%;
  background-color: var(--bg-white-color);
  padding: 24px 0;
  border-radius: 12px;
  border: 2px solid var(--btn-dark-blue-color);
  font-family: var(--plus-jakarta-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.28px;
  text-align: center;
  vertical-align: middle;
  color: var(--btn-dark-blue-color);
}
.card-elite-pass {
    width: 30%;
  box-shadow: 0px 16px 32px -8px #2196f31f;
  background-color: var(--btn-dark-blue-color);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 2px solid var(--btn-dark-blue-color);
  gap: 1.1px;
}
.best-value-and-gradient{
    gap: 6px;
    padding-top: 4px;
    padding: 0 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.best-value-and-gradient .gradient{
    border-radius: 12px 12px 0 0 ;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, #64A1FF 0%, #FFFFFF 50%, #64A1FF 100%);

}
.best-value-and-gradient .badge-cont{
  padding: 8px 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.best-value-and-gradient .badge-cont .badge{
  padding: 8px 15px;
  border-radius: 9999px;
  background-color: #64A1FF;
  color: #003670;
  box-shadow: 0px 1px 2px 0px #0000000D;

}
.other-content{
    padding: 48px;
}
.elite-level {
  font-family: var(--plus-jakarta-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.4px;
  vertical-align: middle;
  color: #d6e3ff;
}
.elite-pass-title {
  font-family: var(--anybody-font);
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--text-light-color);
}
.elite-pricing {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
}
.elite-price {
  font-family: var(--anybody-font);
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--text-light-color);
}
.elite-duration {
  position: absolute;
  top: 30.5px;
  left: 90%;
  font-family: var(--plus-jakarta-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--text-light-color);
}
.features {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  padding-bottom: 112px;
}
.feature-elite {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.elite-feature-name {
  font-family: var(--plus-jakarta-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--text-light-color);
}
